* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.title{
    color: white;
    text-decoration: uppercase;
}

.input{
    max-width: 200px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 20px ;
    font-size: 18px;
    outline: none;
}

.btn{
    background: rgb(223, 185, 116);
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
}


.game__zone{
    max-width: 500px;
    width: 100%;
    height: 500px;
    position: relative;
    background-color: rgb(76, 71, 71);
    box-shadow: 0 0 10px 0 white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.ball{
    /* border-radius: 50%; */
    position: absolute;
    /* clip-path: polygon(50% 0%, 0% 100%, 78% 51%);
    clip-path: polygon(50% 0%, 91% 15%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    
}

h2{
    color: white;
}